{% extends 'base.html' %}

{% block content %}
<div class="recipe-detail-container">
    <h2 class="recipe-title">Add Guide</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            {{ form.as_p }}
        </div>

        <!-- Option to publish or save as draft -->
        <div class="form-group">
            <label for="status">Status:</label>
            <select name="status" id="status" class="form-control">
                <option value="draft" {% if form.instance.status == 'draft' %}selected{% endif %}>Save as Draft</option>
                <option value="published" {% if form.instance.status == 'published' %}selected{% endif %}>Publish</option>
            </select>
        </div>

        <button type="submit" class="submit-button">Add Guide</button>
    </form>
</div>
{% endblock %}
