{% extends 'base.html' %}
{% block content %}
<div class="register-container">
    <h2 class="register-title">Login</h2>
    <form method="post" id="login-form" class="register-form_admin">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit" class="register-button">Login</button>
    </form>
</div>


<script>
document.getElementById('login-form').addEventListener('submit', function(e) {
    e.preventDefault();

    const email = document.getElementById('email').value;

    fetch('https://bandd-se-2025-dqe3g7ewf8b7gccf.northeurope-01.azurewebsites.net/users', {
        method: 'GET',
        headers: {
            'Authorization': email
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not OK');
        }
        return response.json();
    })
    .then(data => {
    console.log('Login success:', data);

    fetch("{% url 'custom_login' %}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": getCookie('csrftoken')
        },
        body: JSON.stringify({
            username: data.username,
            email: data.email,
            name: data.name,
            surname: data.surname,
            phoneNumber: data.phoneNumber,
            role: data.role
        })
    })
    .then(response => {
        if (response.ok) {
            window.location.href = "{% url 'docks' %}"; // Redirect to home
        } else {
            console.error('Failed to log into Django');
        }
    })
    .catch(error => console.error('Django login error:', error));
})
});

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Check if this cookie starts with the name we want
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
{% endblock %}
