{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="register-container">

    
    <!-- About text -->
    <h1>About the Book&Dock</h1>
    <p>Welcome to Book&Dock! This is the web panel of our app. Here is what you can do:</p>

    <section class="about-section">
        <h2>Are you a sailor or a dock owner?</h2>
        <ul>
            <li>Download our Book&Dock app</li>
            <li>Register/Login in the app</li>
            <li>Enjoy sailing with us!</li>
        </ul>
        <h2>Are you an editor or an admin?</h2>
        <ul>
            <li>Locate the login button in the top-right corner</li>
            <li>Login in order to access your panel</li>
        </ul>
    </section>
</div>
{% endblock %}
